.rodape {
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1.25em;
    font-weight: 500;
    color: var(--fonte-cor);
    padding: 24px;
    background-color: var(--cor-rodape);
    margin-top: auto;
}

.rodape .logo {
    width: 234px;
}

.rodape .logo-letra {
    stroke: var(--fonte-cor);
    animation: logo-tracado alternate 2 3s, logo-rodape-preenchimento 0.5s forwards 1s;
}

.rodape .logo-fundo {
    fill: var(--cor-rodape);
}

@keyframes logo-rodape-preenchimento {
    to { fill: var(--fonte-cor);  }
}

.rodape .redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.redes-sociais__icones {
    display: flex;
    justify-content: center;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .rodape .redes-sociais {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 28px;
    }
}

@media screen and (min-width: 1280px) {
    .rodape {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: repeat(2, auto);
        align-items: center;
        padding: 50px 120px;
    }

    .rodape .logo {
        justify-self: center;
        width: 307px;
    }

    .rodape .redes-sociais {
        grid-row: 2 / 3;
    }

    .rodape__descricao {
        text-align: start;
        line-height: 40px;
        grid-area: 1 / 3 / 3 / 4;
        max-width: 380px;
    }
}
