.corpo-ingresso .banner::before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/banner_ingresso.png");
    background-size: cover;
}

.ingresso-container {
    margin: 64px 0;
}

.ingresso-container__titulo {
    margin-bottom: 32px;
}

.ingresso {
    padding: 32px;
    background: var(--cor-gradiente);    
}

.ingresso__cabecalho  {
    display: flex;
    justify-content: space-between;
}

.ingresso__cabecalho img{
    height: 32px;
}

.ingresso__qr-code {
    width: 100%;
    margin: 32px 0;
}

.ingresso__infos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .corpo-ingresso .banner::before {
        background-position: 50%;
    }

    .ingresso__qr-code  {
        max-height: 310px;
        width: auto;
    }
}

@media screen and (min-width: 1280px) {
    .ingresso-container {
        flex-direction: column;
        gap: 32px;
        padding: 0 22.5vw;
    }

    .ingresso-container__titulo br {
        display: none;
    }

    .ingresso {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto auto 1fr;
        align-items: center;
        row-gap: 32px;
        column-gap: 48px;
        width: 100%;
        max-width: 800px;
    }

    .ingresso__cabecalho {
        grid-area: 1 / 1 / 2 / 4;
    }

    .ingresso__qr-code {
        grid-area: 2 / 1 / 3 / 2;
        margin: 0;
        max-height: 220px;
    }

    .ingresso__infos {
        grid-area: 2 / 2 / 3 / 3;
        text-align: start;
    }
}